
.nav{
 color:white;
 padding:10px 20px;
 width:100%;
 margin: 1px 0px;
 position:fixed;
 background-color: #e91e63;
}
.home1{
padding:10px;
text-decoration: none;
color: #000000;
}
.about1{
	text-decoration: none;
	color: #000000;
}

.team1{
padding:15px;
text-decoration: none;
color: #000000;
}
.event1{
	padding:7px;
	text-decoration: none;
	color: #000000;
}
.signup1{
	text-decoration: none;
	padding: 5px;
	color: #000000;
	margin-left: 400px;
}
.login1{
	text-decoration: none;
	padding: 5px;
	color: #000000;
	margin-left: 200px;
}
.content{
	margin-top: 30px;
	float: left;
}
.img1{
	float: left;
	padding:10px 10px 10px 10px;
	margin-left: 267px;
	height: 400px;
	width: 700px;
}
#header2{
	float: left;
	margin-left: 527px;
	margin-top: -248px;
	color: #ffffff;
	font-size: 20px;

}
.header3{
	float: left;
	margin-left: 527px;
	margin-top: -170px;
	color: #ffffff;
	font-size: 15px;
}
.button1{
	float: left;
	background-color: #e91e63;
	color: #ffffff;
	margin-top: -111px;
	margin-left: 611px;
	border-radius: 60px;
	height: 40px;
	width: 200px;
	font-size: 20px;
}
.images{
	float: left;
	margin-left: 276px;
}
.container{
	margin-top: -110px;
	margin-left: 613px;
	position: absolute;
	background-color:#e91e63;
	color: #ffffff; 
}
.container1{
	margin-top: 657px;
	margin-left: 499px;
	position: absolute;
	background-color:#e91e63;
	color: #ffffff; 
}
#myBtn{
	float: left;
	border-radius: 60px;
	margin-left: 152px;
	background-color:#e91e63;
	margin-top: -8px; 
	color: #ffffff;
}
.justify-container3{
	display: flex;
	text-align: left;
	border:1px ridge;
	margin-left: 100px;
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
	margin-right: 88px;
}
.justify-container4{
	display: flex;
	text-align: left;
	border:1px ridge;
	margin-left: 100px;
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
	margin-right: 88px;
}
.justify-container5{
	display: flex;
	text-align: left;
	border:1px ridge;
	margin-left: 99px;
	background-color: #ffffff;
	padding: 10px;
	margin-right: 88px;
}
.heading1{
	float: left;
	margin-left: 10px;
	margin-top: 50px;
}
 #Team {
  margin-top: 620px;
    padding-top: 107px;
}
.grid-container{
	display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left: 60px;
  justify-content: space-between;
}
.grid2{
	display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  margin-left: 60px;
  justify-content: space-between;
}
.cont{
  position: relative;
  width: 50%;
}
.grid{
  opacity: 1;
  display: block;
}
.hover1{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  text-align: center;
  background-color: #d92b5c;
  width: 20px;
  height: 80px;
}
.cont:hover .hover1 {
  opacity: 1;
}


#Event{
	background-color: #bfb6b6;
	padding: 20px;
	margin-top: 500px;

}
.justify-content7{
	display: grid;
	grid-template-columns: 250px 250px 250px;
}

		#Login{
			height: 500px;
			width: 600px;
			background-color: grey;
			margin-left: 150px;
			padding: 10px;
		}
    .header1{
    	float: left;
    	margin-left: 322px;
    	font-size: 25px;
    }
    .email1{
    	float: left;
    	margin-left: 255px;
    	font-size: 20px;
    }
    #text{
    	float: left;
    	margin-left: 255px;
    	width: 300px;
    	height: 30px;
    }
    .password1{
    	float: left;
    	margin-left: 255px;
    	font-size: 20px;
    }
    #text1{
    	float: left;
    	margin-left: 255px;
    	width: 300px;
    	height: 30px;
    }
    .submit1{
    	float: left;
    	margin-left: 255px;
    	height: 30px;
    	width: 150px;
    	border-radius: 60px;
    }
    .password2{
    	float: left;
    	margin-left: -63px;
    	margin-top: 12px;
    	color: blue;
    }
    .account1{
    	float: left;
    	margin-left: 255px;
    	color: #ffffff;
    }
    .greet{
    	margin-left: 180px;
    	margin-top: -21px;
    	color: blue;
    	width: 50px;
    	border-radius: 70px;
    }
    
    .content6{
    	margin-right: 266px;
    	margin-left: 10px;
    	margin-top: 4px;
    	}
    .content7{
    	margin-bottom: 10px;
    	color: red;
    }
    .events1{
    		border:1px ridge;
    		background-color: #87807f;
    		margin-left: 81px;
    		text-align: center;
    }
    .justify-content4{
    	border:1px ridge;
    	width: 150px;
    	margin-left: 80px;
    	padding: 10px;
    	text-align: center;
    	background-color: #87807f;
    }
    .justify-content5{
    	border:1px ridge;
    	width: 150px;
    	margin-left: 80px;
    	padding: 10px;
    	text-align: center;
    	background-color: #87807f;
    }
    .content-justify{
    	padding-bottom: 100px;
    }
   